@import 'custom-var.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

/* .app */
.app {
  /* .app-header */
  &-header {
    height: $app-header-height;
    /* .app-header-content */
    &-content {
      padding: $app-header-content-padding;
    }
  }
  /* .app-main */
  &-main {
    /* .app-main-content */
    &-content {
      /* .app-main-content-header */
      &-header {
        height: $app-main-content-header-height;
      }
    }
  }
}
