// default style
$app-header-height: 64px;
$app-header-content-padding: 8px;
$app-main-content-header-height: 32px;
$app-main-content-padding: 8px;

// sidebar
$sidebar-closed-width: 0;
$sidebar-opened-width: 250px;
$sidebar-collapsed-width: 50px;

// chart
$chart-width: 400px;
$chart-height: 300px;

// export
// `~/stylelint.config.js` is definable variable setting.
:export {
  appHeaderHeight: $app-header-height;
  appHeaderContentPadding: $app-header-content-padding;
  appMainContentHeaderHeight: $app-main-content-header-height;
  appMainContentPadding: $app-main-content-padding;
  sidebarClosedWidth: $sidebar-closed-width;
  sidebarOpenedWidth: $sidebar-opened-width;
  sidebarCollapsedWidth: $sidebar-collapsed-width;
  chartWidth: $chart-width;
  chartHeight: $chart-height;
}
